{% set bgpvars = bgp[ansible_hostname] -%}
{% set loopback_v4 = interfaces[ansible_hostname].lo.ipv4 -%}
{% set loopback_v6 = interfaces[ansible_hostname].lo.ipv6 -%}

{### Set the logging and save all the config in Quagga.conf file ###}
log file /var/log/quagga/quagga.log
username cumulus nopassword
service integrated-vtysh-config
!
interface lo
 link-detect
!
interface eth0
 link-detect
!
{### Configure the tor ports IPv6 settings for unnumbered operation ###}
{% for interface in bgpvars.tor_ports -%}
interface {{interface}}
 ipv6 nd ra-interval 10
 link-detect
 no ipv6 nd suppress-ra
!
{% endfor %}
!
router bgp {{ bgpvars.asn }}
  bgp router-id {{loopback_v4|replace("/32", "")}}
{% for interface in interfaces[ansible_hostname].keys()|sort -%}
{% if interfaces[ansible_hostname][interface].ipv4 is defined %}
  network {{interfaces[ansible_hostname][interface].ipv4}}
{% endif -%}
{% endfor -%}
{### Peer group to top of rack ###}
  neighbor tors peer-group
  neighbor tors remote-as external
  neighbor tors capability extended-nexthop
{### Configure interfaces ###}
{% for interface in bgpvars.tor_ports %}
  neighbor {{interface}} interface
  neighbor {{interface}} peer-group tors
  neighbor {{interface}} remote-as external
{% endfor -%} 
!
  address-family ipv6
{% for interface in interfaces[ansible_hostname].keys()|sort -%}
{% if interfaces[ansible_hostname][interface].ipv6 is defined %}
  network {{interfaces[ansible_hostname][interface].ipv6}}
{% endif -%}
{% endfor -%}
  neighbor tors activate

!
 exit-address-family
!
ip forwarding
!
line vty
!
end